## .NET
bin/
obj/
*.user
*.suo
.vs/
artifacts/
TestResults/
.dotnet/

## Rider / VS Code
.idea/
.vscode/

## Build / publish
publish/
*.binlog

## Env / secrets
*.env
appsettings.*.local.json
secrets.json
